ariadne
broadcaster
websockets
asyncio_redis
uvicorn
starlette
python-multipart
ariadne[file-uploads]

requests
beautifulsoup4
aiodataloader
httpx
ariadne-graphql-modules
python-dotenv
python-json-logger
starlette-testclient
pytest
redis[hiredis]
